<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechHaven</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/TechHaven.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/back-button.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/images/icons/online-shop.png" type="image/png" />
</head>

<body>
    <aside class="sidebar">
        <div class="logo">TechHaven</div>
        <nav>
            <a asp-controller="Home" asp-action="Index" class="nav-link @(string.Equals(
              ViewContext.RouteData.Values["controller"]?.ToString(),
               "home", StringComparison.OrdinalIgnoreCase) ? "active" : "")><span class="icon">🏠</span> Home</a>

            <a asp-controller="Products" asp-action="Index" class="nav-link @(string.Equals(
              ViewContext.RouteData.Values["controller"]?.ToString(),
               "products", StringComparison.OrdinalIgnoreCase) ? "active" : "")"><span class="icon">📦</span> Products</a>

            <a href="#" class="nav-link"><span class="icon">🛒</span> Orders</a>            
        </nav>
        <partial name="_LoginPartial" />
    </aside>

    <div class="container">
        <main class="main-content" role="main">
            @await RenderSectionAsync("Back", false)
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
